// ==== CONFIGURATION ==== //

// Set all your configuration variables here!

// Width of the overall site as well as the left and right content columns
$width-site:    1000px;
$width-left:    650px;
$width-right:   350px;

// Breakpoints
$break-small:   480px;
$break-medium:  620px;
$break-large:   800px;

// A standard margin
$spacer:        30px;

// A modest palette; see `_library.scss` for the color() function
$color: (
  text: #333,
  link: steelblue,
  link-muted: steelblue,
  body-background: white
);
